.btn-theme {
  background: transparent;
  width: 60px;
  height: 60px;

  margin: 600px 0 0 20px;

  border: 3px solid black;
  border-radius: 50%;

  cursor: pointer;
  
  transition: all 0.1s ease;

  position: fixed;
  z-index: 9999;
}

.btn-theme:hover {
  border: 3px solid rgb(237, 237, 91);
  border-radius: 50%;
}

.light-theme-btn img {
  width: 30px;
  height: 30px;
  
  margin: 12px 5px 10px 12px;
}

.dark-theme-btn img {
  width: 40px;
  height: 40px;
  padding: 2px;
  margin: 7px 10px 5px 8px;
}