footer .copy {
  font-family: var(--alt-text);
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 50px );
  border-radius: 10px;

}

footer .copy p {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--sub-title);
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

  color: #fff;
  
  width: 100%;
  padding: 5px;
}

footer .copy p a{
  color: black;
  padding: 0;
  margin: 5px;
}

